Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

.DS_Store

*.bak

.vscode/*
.history/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

vendor

.env